.action {
  a {
    > svg {
      margin-right: 2.5rem;
      color: $text1;
      font-size: 1.3rem;
    }
  }

  > button {
    background: $bg2;
    margin-right: 1rem;
    border: none;

    > svg {
      color: #eb0000;
      font-size: 1.3rem;
    }
  }
}
