@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

@import "colors";
@import "home";
@import "header";
@import "search";
@import "footer";
@import "cart";
@import "wishlist";
@import "ordersummary";
@import "profile";
@import "productcard";
@import "reviewCard";
@import "dashbord";
@import "productdetails";
@import "productpage";
@import "login";
@import "shipping";
@import "table";
@import "sidebar";
@import "newProduct";
@import "forgetpassword";
@import "myorders";
@import "orderDetailsPage";
@import "loading";
@import "actions";
@import "payment";
@import "CheckoutSteps";
@import "notfound";
@import "category";
@import "price";
