
.emptyCart {
  @include flex(column, $h: 100vh);

  > img {
    @include img(18rem, 14rem);
  }

  > a {
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
    background: $c1;
    color: $white;
  }
}

.cart {
  width: 100%;
  background-color: $bg;

  > section:first-of-type {
    display: flex;
    border-radius: 2px;
    justify-content: center;
    padding-bottom: 2rem;

    .cart_sec {
      width: 64%;
      margin-top: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

      .cart_sec_1 {
        @include flex($h: 4rem, $j-c: space-evenly);
        background: $bg2;
        border-radius: 5px 5px 0 0;

        > span {
          text-align: center;
          color: $c1;
          padding: 1.3rem;
          border-bottom: 2px solid $c1;
        }
        > p {
          text-align: center;
          padding: 1.3rem;
        }
      }

      > .cart_sec_2 {
        @include flex($h: 3.8rem, $j-c: space-between);
        background: $bg2;
        margin: 0.6rem 0;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;

        > div {
          display: flex;

          > span {
            font-weight: 500;
            margin-left: 1rem;
          }
        }
        > a {
          padding: 0.5rem 1rem;
          border-radius: 5px;
          border: 1.5px solid rgb(239, 239, 241);
          color: $c1;

          &:hover {
            box-shadow: 0 0 5px 0 rgb(190, 190, 209);
          }
        }
      }

      > .cart_sec_3 {
        margin-top: 0.5rem;

        div {
          background: $bg2;
        }
      }

      .cart_sec_4 {
        @include flex($j-c: flex-end);
        padding: 1rem;
        background: $bg2;
        position: sticky;
        bottom: 0;
        box-shadow: rgba(77, 76, 76, 0.2) 0px -3px 12px 0px;

        > button {
          @include button(16rem, 3.1rem);
          font-size: 1.1rem;
          margin-right: 1.5rem;
        }
      }
    }
  }

  section:last-of-type {
    @include flex($h: 6rem);
    border-top: 1px solid #c7c7c7;

    > button {
      display: none;
    }

    > div:first-of-type {
      @include flex;
      > p {
        margin: 0.5rem;
        font-size: 0.9rem;
        color: #727272;
      }
      > span {
        font-size: 0.9rem;
        color: #727272;
      }
    }

    > div:last-of-type {
      @include flex($w: 50%);
      > p {
        margin: 0.3rem;
        font-size: 0.9rem;
        color: #8d8c8c;
      }
    }
  }
}
.cartItem {
  height: 14.3rem;
  background-color: $white;
  border-top: 1px solid #e9e8e8;

  > .cartItem_sec_1 {
    display: flex;
    div:first-of-type {
      > img {
        margin: 1rem;
        @include img(9rem, 8rem);
      }
    }
    div:last-of-type {
      @include flex(column, $a-i: flex-start);
      padding: 2rem;

      > a {
        @include p();
        &:hover {
          color: $c1;
        }
      }
      > span {
        margin-top: 1.3rem;
        width: 100%;
        font-weight: 500;
        > span {
          margin-left: 1rem;
          color: #929292;
          font-weight: 400;
          text-decoration: line-through;
        }
      }
    }
  }

  .cartItem_sec_2 {
    @include flex($j-c: flex-start);
    > div {
      @include flex($w: 10rem);

      > input {
        text-align: center;
        width: 3.5rem;
        padding-left: 0.8rem;
        height: 1.8rem;
        font-size: 1rem;
        margin: 0 0.3rem;
        border: 1px solid rgb(201, 202, 206);
      }

      > button {
        @include button(1.8rem, 1.8rem, #fff);
        border-radius: 50%;
        font-weight: 600;
        color: $text1;
        border: 1px solid rgb(201, 202, 206);
      }
    }
    > p {
      padding-left: 3rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 600px) {
  .cart {
    width: 100%;
    padding-bottom: 0rem;

    > section:first-of-type {
      width: 100%;
      height: fit-content;
      flex-direction: column;
      padding-bottom: 0rem;

      .cart_sec {
        width: 100%;
        margin-top: 0;

        > .cart_sec_2 {
          margin: 0;
        }
        .cart_sec_4 {
          display: none;
        }
      }

      aside {
        width: 100vw;
      }
    }

    > section:last-of-type {
      @include flex($j-c: flex-end);
      padding: 1rem;
      background: $bg2;
      position: sticky;
      bottom: 0;
      box-shadow: rgba(173, 172, 172, 0.2) 0px -8px 5px 0px;

      > button {
        @include button;
        display: block;
        border-radius: 5px;
        background: #eec302;
      }
      > div:first-of-type {
        display: none;
      }
      > div:last-of-type {
        display: none;
      }
    }
  }
  .cartItem {
    height: 12.6rem;
    > .cartItem_sec_1 {
      > div:first-of-type {
        > img {
          @include img(7rem, 7rem);
        }
      }
      div:last-of-type {
        padding: 1rem;
        > span {
          margin-top: 0.8rem;
        }
      }
    }
    .cartItem_sec_2 {
      padding: 0rem;
      > div {
        width: 9rem;
        > input {
          padding-left: 0;
        }
      }
      > p {
        padding-left: 1rem;
      }
    }
  }
}
