$white: rgb(255, 255, 255);
$text1: rgba(21, 21, 24, 0.711);

$bg: #f1f3f6;
$bg2: #fff;
$b1: rgb(216, 212, 212);
$b2: rgb(235, 235, 235);
$c1: #2874f0;

@mixin flex($dir: row, $w: 100%, $h: auto, $j-c: center, $a-i: center) {
  display: flex;
  width: $w;
  height: $h;
  flex-direction: $dir;
  justify-content: $j-c;
  align-items: $a-i;
}

@mixin img($w: 10rem, $h: 10rem) {
  width: $w;
  height: $h;
  object-fit: contain;
}
@mixin p($c: #131314, $f-w: 400, $f-s: 1rem) {
  font-size: $f-s;
  color: $c;
  font-weight: $f-w;
  word-spacing: 1px;
}
@mixin button($w: 10rem, $h: 3rem, $c: #fb641b) {
  width: $w;
  height: $h;
  background: $c;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
