$c1: rgba(102, 96, 93, 0.24);
$c2: rgb(245, 120, 104);
$c3: rgb(167, 46, 66);
$c4: rgb(136, 76, 192);
$c7: rgb(207, 170, 245);
$c5: rgb(49, 45, 45);
$c6: rgb(5, 5, 36);
$red: rgb(156, 0, 60);
$darkblack: rgb(59, 58, 58);
$dark: rgb(33, 33, 33);
$pink: rgb(33, 33, 33);
$lightdark: rgba(33, 33, 33, 0.711);
$white: rgb(255, 255, 255);
$text1: rgba(0, 0, 39, 0.711);

$bg: #f1f3f6;