footer {
  background-color: rgb(22, 22, 31);

  > section:first-of-type {
    display: flex;
    padding: 2.5rem;
    height: 15rem;
    border-bottom: 0.1px solid $b1;

    > div:first-of-type {
      @include flex($w: 57%, $j-c: space-evenly, $a-i: flex-start);
      border-right: 1px solid $b1;

      > div {
        display: flex;
        flex-direction: column;

        p {
          color: gainsboro;
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          font-weight: 300;
        }
        > a {
          color: aliceblue;
          font-size: 0.7rem;
          font-weight: 400;
          padding-top: 0.2rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    > div:last-of-type {
      display: flex;
      width: 43%;
      justify-content: space-evenly;

      > div {
        padding: 0 1.5rem;

        p {
          color: gainsboro;
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          font-weight: 300;
        }
        > article {
          word-spacing: 4px;
          color: rgb(255, 255, 255);
          font-size: 0.7rem;
          font-weight: 400;
        }
      }
    }
  }
  > section:last-of-type {
    display: flex;
    padding: 2rem;
    div {
      margin: 0 3rem;
      > p {
        color: rgb(255, 255, 255);
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}
