@import "colors";

.nav {
  @include flex($h: 56px, $j-c: flex-start);
  background-color: $c1;
  position: sticky;
  z-index: 5;
  top: 0;
  > b {
    display: none;
  }

  > .logo {
    align-items: center;
    margin-left: 12rem;

    > a {
      display: flex;
      flex-direction: column;

      > img {
        width: 75px;
      }

      div {
        display: flex;

        p {
          font-size: 11px;
          font-style: italic;
          color: $white;
          > span {
            color: #ffe500;
            font-weight: 500;
            margin-left: 2px;
          }
        }
        img {
          height: 10px;
          margin-left: 2px;
        }
      }
    }
  }
  .nav_2 {
    display: flex;
    align-items: center;
    span {
      display: none;
    }

    p {
      color: $white;
      font-weight: 500;
      margin-left: 3rem;
    }

    > a {
      display: flex;
      align-items: center;
      color: $bg;
      font-weight: 400;
      margin-left: 1.5rem;

      > section {
        > p {
          cursor: pointer;
          font-size: 1rem;
          color: rgb(255, 255, 255);
        }
        > div {
          display: none;
          position: absolute;
          width: 15rem;

          background-color: $white;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border-radius: 2px 2px 8px 8px;

          a {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            p:first-of-type {
              color: $c1;
              margin: 0.2rem;
              font-size: 0.9rem;
              font-weight: 400;
            }
            p:last-of-type {
              color: rgb(109, 106, 106);
              margin-left: 0.5rem;
              font-size: 0.9rem;
              font-weight: 400;
            }
          }
        }
      }

      > svg {
        color: $white;
        transition: inherit;
        font-size: 1.2rem;
        margin-left: 3rem;
        margin-right: 0.5rem;
      }
      > span {
        @include flex(1rem, 1rem, center);
        position: absolute;
        border-radius: 1rem;
        color: $white;
        font-size: 0.7rem;
        transform: translate(3.6rem, -0.7rem);
        border: 1.5px solid rgb(255, 255, 255);
        background-color: #ff0000;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    > b {
      display: flex;
    }
    > .logo {
      width: 30%;
      align-items: center;
      margin-left: 4%;
      > a {
        display: flex;
        flex-direction: column;
        > img {
          width: 55px;
        }
        div {
          display: flex;

          p {
            font-size: 10px;
          }
          img {
            height: 10px;
            margin-left: 2px;
          }
        }
      }
    }
    > span {
      display: none;
    }
    .nav_2 {
      display: flex;
      width: 60%;
      justify-content: flex-end;

      span {
        display: inline;
        > a {
          svg {
            color: $white;
            font-size: 1.5rem;
            transform: translate(2.2rem, 0.2rem);
          }
        }
      }
      p {
        display: none;
      }
      > a {
        b {
          display: none;
        }
      }
      .cart_i {
        margin-right: 1.6rem;
      }
    }
  }
}
