.myOrders {
  width: 100%;
  background: $bg;
  display: flex;
  min-height: 100vh;
  padding-top: 2rem;

  > .filters_sec {
    height: fit-content;
    width: 18.5rem;
    margin: 1rem;
    margin-right: 0;
    background: $bg2;
    box-shadow: 0 0 2px 0 rgb(190, 190, 209);

    .filter_head {
      padding: 1rem;
      @include flex($j-c: space-between);
      border-bottom: 1px solid rgb(221, 221, 221);
      > h1 {
        font-weight: 400;
      }
    }
    > .price_sec {
      > div {
        @include flex($j-c: space-between);
        padding: 1rem 1rem;
        border-bottom: 0.5px solid rgb(231, 231, 231);
      }
    }
    > .check_filter {
      border-bottom: 1px solid rgb(221, 221, 221);

      > div:first-of-type {
        @include flex($j-c: space-between);
        padding: 1rem;

        > h5 {
          color: $text1;
          font-weight: 400;
        }
      }

      div:last-of-type {
        div {
          div {
            display: flex;
            margin: 1rem;
            margin-top: 0;
            > input {
              border: 1px solid red;
            }
            span {
              margin-left: 0.5rem;
              color: $text1;
              font-size: 14px;
              font-weight: 500;
              > svg {
                margin-left: 0.2rem;
                margin-right: 0.2rem;
                font-size: 0.7rem;
                color: $text1;
              }
            }
          }
          > p {
            font-weight: 400;
            font-size: 0.8rem;
            color: $c1;
            cursor: pointer;
          }
        }
      }
    }
  }
  section {
    width: 100%;
    margin: 1rem;
    > div {
      > input {
        height: 2.2rem;
        width: 80%;
        outline: none;
        padding-left: 1rem;
        border: 1px solid rgb(187, 187, 187);
      }
      > button {
        padding: 0.5rem 1rem;
        background: $c1;
        border: 1px solid gray;
        color: $white;
      }
    }

    .ordercard {
      display: flex;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      padding: 0.5rem;
      margin-top: 1rem;
      background: $bg2;
      box-shadow: 0 0 2px 0 rgb(190, 190, 209);
      > img {
        @include img(6rem, 6rem);
        margin-left: 0.5rem;
      }

      > div {
        @include flex($w: 70%, $j-c: space-between);
        margin-left: 5rem;

        > p {
          color: $text1;
          font-size: 1rem;
        }

        > span {
          color: $text1;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .myOrders {
    padding-top: 0;
    h2 {
      padding-left: 0.5rem;
    }
    .filters_sec {
      display: none;
    }

    section {
      margin: 0;
      > div {
        padding: 0.5rem;
        background: $bg2;
        > input {
          height: 3rem;
        }
        > button {
          display: none;
        }
      }

      .ordercard {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid $b1;
        > img {
          height: 7rem;
          margin: 0;
        }
        > div {
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0.7rem;

          > p {
            padding-bottom: 0.5rem;
          }
          > span {
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
