.orderDetailsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $bg;

  > h3 {
    display: flex;
    width: 100%;
    height: 4rem;
    padding-left: 2rem;
    align-items: center;
    color: #afabab;
    font-weight: 400;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgb(153, 153, 153);
  }

  > .order_item {
    background: #ffffff;
    margin-top: 1rem;
    width: 90%;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > h2 {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 3.5rem;
      padding-left: 2rem;
      color: rgb(153, 153, 153);
      border-bottom: 1px solid rgb(211, 205, 205);
    }
    > div {
      display: flex;
      height: 14rem;
      justify-content: flex-end;
      align-items: center;
      border-bottom: 1px solid rgb(211, 205, 205);
      > p {
        > span {
          margin-right: 8rem;
          font-size: 1.7rem;
          color: #1d1d1d;
          word-spacing: 3px;
        }
        > a {
          color: #1d1d1d;
          margin-right: 8rem;
        }
      }
      > img {
        height: 12rem;
        width: 12rem;
        object-fit: contain;
        margin-right: 4rem;
        padding-right: 2rem;
      }
    }
  }
  > .status {
    height: 10rem;
    width: 90%;
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);
    > h2 {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 3.5rem;
      padding-left: 2rem;
      color: rgb(153, 153, 153);
      border-bottom: 1px solid rgb(211, 205, 205);
    }
    div {
      display: flex;
      align-items: center;
      padding: 2rem;
      justify-content: space-between;
      > p {
        font-size: 2rem;
        font-weight: 400;
      }
      > form {
        > select {
          width: 30rem;
          height: 3rem;
          text-align: center;
        }
        button {
          width: 6rem;
          height: 3rem;
          background: #28e40f;
        }
      }
    }
  }
  > .order_status {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    background: #ffffff;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > h2 {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 3.5rem;
      width: 100%;
      padding-left: 2rem;
      color: rgb(153, 153, 153);
      border-bottom: 1px solid rgb(209, 205, 205);
    }

    > div {
      padding: 2rem;
    }
  }

  > .shipping_info {
    width: 90%;
    height: 12rem;
    background: #ffffff;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > h2 {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 3.5rem;
      padding-left: 2rem;
      color: rgb(153, 153, 153);
      border-bottom: 1px solid rgb(211, 205, 205);
    }
    > div {
      margin: 0.2rem;
      > div {
        display: flex;
        padding-left: 2rem;

        > P {
          margin: 0.5rem;
        }
        > span {
          margin: 0.5rem;
        }
      }
    }
  }
  > .order_summery {
    width: 90%;
    height: 15rem;
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);
    > h2 {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 3.5rem;
      padding-left: 2rem;
      color: rgb(153, 153, 153);
      border-bottom: 1px solid rgb(211, 205, 205);
    }
    > p {
      // margin: 2rem;
      > div {
        display: flex;
        margin: 1.3rem;
        justify-content: space-between;
      }
    }
  }
  > .payment {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: #ffffff;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .orderDetailsPage {
    > h3 {
      padding-left: 0.2rem;
      font-size: 1rem;
    }

    > .order_item {
      width: 100%;
      margin-top: 0.5rem;
      > h2 {
        padding: 0.4rem;
      }
      > div {
        height: 10rem;
        > p {
          display: flex;
          flex-direction: column;
          > span {
            margin-top: 1rem;
            margin-left: 0.5rem;
            font-size: 1.4rem;
          }
          > a {
            margin-right: 0.4rem;
            margin-left: 0.5rem;
          }
        }
        > img {
          height: 10rem;
          width: 9rem;
          margin-right: 0.4rem;
          padding-right: 0rem;
        }
      }
    }
    > .order_status {
      margin-top: 0.5rem;
      padding: 0.4rem;
      width: 100%;
      height: 18rem;
      align-items: start;
      flex-direction: column;

      > h2 {
        width: 100%;
        padding: 0.3rem;
        border-bottom: 1px solid gainsboro;
      }
      > div {
        margin-top: -1.5rem;
        padding-left: 1rem;
      }
    }

    > .shipping_info {
      width: 100%;
      margin-top: 0.5rem;
      > h2 {
        padding-top: 1rem;
        padding-left: 0.5rem;
      }
      > div {
        > div {
          padding-left: 0.2rem;
        }
      }
    }
    > .order_summery {
      margin-top: 0.5rem;
      width: 100%;
      > h2 {
        padding-left: 0.6rem;
      }
      > p {
        margin: -0.3rem;
      }
    }
    > .payment {
      margin-top: 0.5rem;
      padding: 1rem;
    }
  }
}
