.orderDetailsPage {
  @include flex(column);
  background: $bg;

  > h3 {
    @include flex($j-c: flex-start, $h: 4rem);
    padding-left: 2rem;
    color: #afabab;
    font-weight: 400;
    background: $bg2;
    box-shadow: 0 0 5px 0 rgb(153, 153, 153);
  }
  .order_Details_head {
    @include flex($j-c: flex-start, $h: 3.2rem);
    font-weight: 400;
    padding-left: 2rem;
    color: rgb(153, 153, 153);
    border-bottom: 1px solid $b1;
  }
  > .order_item {
    background: $bg2;
    margin-top: 1rem;
    width: 90%;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > div {
      @include flex($j-c: flex-end, $h: 14rem);
      border-bottom: 1px solid rgb(211, 205, 205);

      > p {
        > span {
          margin-right: 8rem;
          font-size: 1.7rem;
          color: #1d1d1d;
          word-spacing: 3px;
        }
        > a {
          color: #1d1d1d;
          margin-right: 8rem;
        }
      }
      > img {
        @include img(12rem, 12rem);
        margin-right: 4rem;
        padding-right: 2rem;
      }
    }
  }
  > .status {
    width: 90%;
    margin-top: 1rem;
    background: $bg2;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    div {
      padding: 2rem;
      @include flex($j-c: space-between, $h: 4rem);

      > p {
        font-size: 2rem;
        font-weight: 400;
      }
      > form {
        > select {
          width: 30rem;
          height: 3rem;
          text-align: center;
        }
        button {
          @include button;
        }
      }
    }
  }
  > .order_status {
    @include flex(column, $j-c: space-between, $h: 12rem, $w: 90%);
    background: $bg2;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > div {
      padding: 2rem;
    }
  }

  > .shipping_info {
    width: 90%;
    height: 12rem;
    background: $bg2;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > div {
      margin: 0.2rem;
      > div {
        display: flex;
        padding-left: 2rem;

        > P {
          margin: 0.5rem;
        }
        > span {
          margin: 0.5rem;
        }
      }
    }
  }
  > .order_summery {
    width: 90%;
    height: 15rem;
    margin-top: 1rem;
    background: $bg2;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > p {
      > div {
        display: flex;
        margin: 1.3rem;
        justify-content: space-between;
      }
    }
  }
  > .payment {
    @include flex($j-c: space-between, $h: 4rem);
    background: $bg2;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);
  }
}
.small {
display: none;
}
@media screen and (max-width: 600px) {
  .orderDetailsPage {
    @include flex(column);border:2px solid red;
    > h3 {
      padding-left: 0.5rem;
      font-size: 1rem;
    }
    > .status {
      width: 100%;
      margin-top: 0.5rem;
      > div {
        display: flex;
        padding: 1rem 0.5rem;
        height: fit-content;
        > p {
          display: none;
        }
        > form {
          width: 100%;
          > select {
            width: 100%;
          }
          button {
            margin-top: 0.5rem;
            @include button($w: 100%);
          }
        }
      }
    }
    .order_Details_head {
      @include flex($j-c: flex-start, $h: 3.2rem);
      font-weight: 400;
      padding-left: 0.5rem;
    }
    > .order_item {
      width: 100%;
      margin-top: 0.5rem;

      > div {
        height: 10rem;
        > p {
          display: flex;
          flex-direction: column;
          > span {
            margin-top: 1rem;
            margin-left: 0.5rem;
            font-size: 1.4rem;
          }
          > a {
            margin-right: 0.4rem;
            margin-left: 0.5rem;
          }
        }

        > img {
          @include img(8rem, 8rem);

          margin-right: 0.4rem;
          padding-right: 0rem;
        }
      }
    }
    > .order_status {
      @include flex(column, $a-i: flex-start);
      margin-top: 0.5rem;
      padding: 0.4rem;

      > div {
        padding: 1rem;
      }
    }

    > .shipping_info {
      width: 100%;
      margin-top: 0.5rem;

      > div {
        > div {
          padding-left: 0.2rem;
        }
      }
    }
    > .order_summery {
      margin-top: 0.5rem;
      width: 100%;
    }
    > .payment {
      margin-top: 0.5rem;
      padding: 1rem;border:2px solid red;
    }
  }
  .small {
    display: inline-block;
    }
  .big{
    display: none
  }
}
