.small {
  max-height: 26.5rem;
}

.img_wrap {
  border: 1px solid $b2
}
.active {
  text-align: center;
  border: 2px solid $c1;
}
.productdetail {
  @include flex(column);
  background-color: $bg;

  > .detailsec {
    width: 100%;
    display: flex;
    padding: 1rem;
    background: rgb(255, 255, 255);

    > section:first-of-type {
      width: 38%;
      top: 4rem;
      z-index: 1;
      height: fit-content;
      position: sticky;

      > div {
        display: flex;

        > div:first-of-type {
          display: flex;
          flex-direction: column;

          > div {
            @include flex($w: 70px, $h: 70px);
            // border: 1px solid $b1;
            cursor: pointer;

            > img {
              @include img(60px, 60px);
            }
          }
        }
        > div:last-of-type {
          @include flex($w: 31rem, $h: 27rem);
          padding: 0.5rem;
          border: 1px solid $b2;
        }
      }
      > .button {
        @include flex;
        margin-top: 1rem;
        margin-left: 0.9rem;

        div:first-of-type {
          @include flex($h: 3.5rem, $w: 15rem);
          color: rgb(255, 255, 255);
          background: #ff9f00;
          cursor: pointer;
          > svg {
            font-size: 1rem;
            margin-right: 0.3rem;
          }
        }
        div:last-of-type {
          @include flex($h: 3.5rem, $w: 15rem);
          margin-left: 0.4rem;
          color: rgb(255, 255, 255);
          background: #fb641b;
          cursor: pointer;
          > svg {
            font-size: 1rem;
          }
        }
      }
    }

    > section:last-of-type {
      width: 62%;
      padding-left: 1.5rem;
      background: rgb(255, 255, 255);

      h3 {
        width: 45rem;
        font-weight: 400;
        color: #212121;
      }

      > .sec1 {
        > div:first-child {
          display: flex;
          margin-top: 0.8rem;

          > p {
            @include flex(row, 2.6rem, 1.2rem, center);
            color: $white;
            border-radius: 5px;
            font-size: 0.8rem;
            background-color: #047a04;

            > svg {
              font-size: 0.7rem;
              margin-left: 0.2rem;
            }
          }
          > span {
            margin-left: 0.8rem;
            font-weight: 500;
            cursor: pointer;
            font-size: 1rem;
            color: rgb(138, 135, 135);
          }
        }

        > div:nth-child(2n) {
          display: flex;
          margin-top: 0.8rem;
          align-items: center;

          > h1 {
            font-size: 1.9rem;
            font-weight: 500;
          }

          > p {
            margin-left: 0.6rem;
            text-decoration: line-through;
            color: #6b6969;
            font-weight: 400;
          }

          span {
            display: flex;
            margin-left: 0.5rem;
            color: #028008;
            font-weight: 400;
          }
        }
      }

      > .sec2 {
        > .offers {
          margin-top: 1rem;

          > h4 {
            font-weight: 500;
            color: #212121;
          }
          > div {
            display: flex;
            > p {
              > svg {
                margin-top: 0.5rem;
                font-size: 1.3rem;
                color: rgb(35, 161, 23);
              }
            }
            > span {
              margin-left: 1rem;
              margin-top: 0.5rem;
              font-size: 0.9rem;
              color: #212121;
              font-weight: 400;
            }
          }
          > span {
            font-size: 0.9rem;
            color: #0d30f7;
            margin: 0.4rem;
            font-weight: 500;
          }
        }
        > .highlights {
          margin-top: 2rem;
          width: 24rem;

          > div {
            display: flex;
            > h5 {
              color: #878787;
              font-weight: 600;
              margin-top: 0.5rem;
            }

            > ul {
              margin-left: 3.4rem;
              > li {
                font-size: 1.1rem;
                color: #a19d9d;
                margin-top: 0.5rem;

                > p {
                  font-size: 0.9rem;
                  color: #212121;
                }
              }
            }
          }
        }
        > .description {
          display: flex;
          margin-top: 2rem;
          width: 45rem;
          > div {
            display: flex;
            > h5 {
              color: #727070;
              font-weight: 600;
            }

            > article {
              font-size: 0.9rem;
              color: #212121;
              margin-left: 2.3rem;
            }
          }
        }
        > .warranty {
          margin-top: 1.5rem;
          > div {
            display: flex;
            > h5 {
              color: #726f6f;
              font-weight: 600;
            }
            > P {
              font-size: 0.9rem;
              color: #212121;
              margin-left: 2.8rem;
            }
          }
        }
      }
      > .reviews {
        min-height: 15rem;
        margin-top: 2rem;
        border: 1px solid $b2;

        > div:first-child {
          @include flex($j-c: space-between);
          min-height: 4rem;
          padding: 1rem 2rem;

          > h1 {
            font-size: 1.5rem;
            font-weight: 500;
            color: #212121;
          }
          > button {
            padding: 1rem 2rem;
            border: none;
            color: #090918;
            border-radius: 4px;
            background: $bg2;
            box-shadow: 0 2px 3px 0 #cacad4;
          }
        }

        > div:nth-child(2n) {
          > p {
            @include flex($h: 5rem);

            > span {
              margin-left: 2rem;
              font-size: 1.2rem;
              color: $c1;
              font-weight: 400;
            }
          }
        }
      }
    }
    > div {
      display: none;
    }
  }
  > .similarProduct {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
    margin: 1rem 0;
    > div:last-of-type {
      margin-top: 1rem;
    }

    .wishist_card {
      border: none;
    }

    .RandomProductsSlider {
      > div:last-of-type {
        > div {
          div {
            > section {
              a {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .productdetail {
    width: 100%;
    padding: 0;

    > .detailsec {
      width: 100%;
      padding: 0;
      flex-direction: column;

      > section:first-child {
        top: 0;
        width: 100%;
        height: 25rem;
        position: relative;
        align-items: flex-end;

        > div {
          > div:first-of-type {
            flex-direction: row;
            overflow: auto;
            height: 25rem;
            width: 100%;
            gap: 0;

            > div {
              @include flex($w: 100%);
              padding: 1rem;
              > img {
                @include img(22rem, 23rem);
              }
            }
          }
          > div:last-of-type {
            display: none;
          }
        }
        .active {
          border: none;
        }
        .left_2 {
          display: none;
        }
        > div:first-child {
          height: 15rem;
        }
        > div:nth-child(2n) {
          display: none;
        }
      }

      > section:nth-child(2n) {
        width: 100%;
        padding: 0.4rem;
        padding-bottom: 0;
        h3 {
          width: 100%;
        }
        > .sec2 {
          > .offers {
            > div {
              > span {
                margin-left: 0.5rem;
              }
            }
          }
          .highlights {
            div {
              flex-direction: column;
              > ul {
                margin-left: 1.5rem;
              }
            }
          }
          > .description {
            width: 100%;
            div {
              flex-direction: column;
              article {
                margin-top: 0.5rem;
                margin-left: 0rem;
              }
            }
          }
          > .warranty {
            > div {
              flex-direction: column;
              p {
                margin-top: 0.5rem;
                margin-left: 0;
              }
            }
          }
        }
        > .reviews {
          width: 100%;
          > div:first-child {
            padding: 0.5rem;
            > h1 {
              font-size: 1rem;
            }
            > button {
              padding: 0.8rem 1.5rem;
            }
          }
          div {
            width: 100%;
          }
        }
      }
      .mobileView {
        @include flex;
        position: sticky;
        bottom: 0;

        > button:first-of-type {
          width: 50%;
          height: 3.5rem;
          border: none;
          color: rgb(34, 32, 32);
          background: $bg2;
        }
        > button:last-of-type {
          width: 50%;
          height: 3.5rem;
          border: none;
          color: rgb(255, 255, 255);
          background: #fb641b;
        }
      }
    }
    > .similarProduct {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .wishist_card {
        border: 1px solid $b1;
      }
      div {
        width: 100%;

        div {
          width: 100%;
        }
      }
    }
  }
}
