.card {
  > div {
    position: relative;
    color: #dddada;
    cursor: pointer;
    > svg {
      position: absolute;
      top: 1.5rem;
      left: 85%;
    }
  }
  .productCard {
    @include flex(
      column,
      16.5rem,
      $h: 25rem,
      $j-c: flex-start,
      $a-i: flex-start
    );
    padding: 1rem;
    background-color: $white;

    > .first {
      @include flex($h: 12rem);

      img {
        @include img(12rem, 10rem);
      }
    }

    > .mobile {
      display: none;
    }
    > .second {
<<<<<<< HEAD
=======
      width: 100%;
>>>>>>> 411b6c8 (Initial commit)
      P {
        color: #0e1020;
        font-size: 0.9rem;
        font-weight: 400;
      }
<<<<<<< HEAD
      width: 100%;
=======
>>>>>>> 411b6c8 (Initial commit)

      > .rating {
        display: flex;
        align-items: center;

        > p:first-of-type {
          @include flex($h: 1.2rem, $w: 2.8rem);
          background-color: #1b7a1b;
          border-radius: 5px;
          color: $white;
          font-size: 0.8rem;

          > svg {
            margin-left: 0.2rem;
            color: $white;
          }
        }
        > .star {
          display: none;
        }
        > b {
          display: none;
        }
        > p:last-of-type {
          color: #a8a8a8;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0rem 0.5rem 0.3rem;
        }
      }
      div {
        ul {
          display: none;
        }
      }
    }
    .thard {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        > h3 {
          color: #01010ccb;
          font-size: 1.1rem;
        }
        > p {
          margin-bottom: 0.3rem;
          color: #b5b8b6;
          font-size: 0.9rem;
          font-weight: 500;
          margin-left: 0.4rem;
          text-decoration: line-through;
        }
        > span {
          color: #008817;
          font-size: 0.9rem;
          font-weight: 500;
          margin-left: 0.4rem;
        }
      }
      > span {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: #31a30e;
      }
    }
    &:hover {
      color: $c1;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    > div {
      > svg {
        top: 1rem;
        left: 85%;
      }
    }
    .productCard {
      width: 100%;
      padding: 0;
      height: 18.5rem;
      border: 1px solid $b1;

      > .first {
        @include flex($h: 11rem);

        img {
          @include img(9rem, 9rem);
        }
      }
      > .mobile {
        display: flex;
        color: #0e1020;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0 0.5rem;
      }
      > .second {
        margin-top: 0;
        padding-left: 4px;
        > p {
          display: none;
        }

        > .rating {
          > p:first-of-type {
            display: none;
          }
          > .star {
            display: flex;
          }
        }
      }
      .thard {
        margin: 0.2rem;
        > p {
          margin-left: 1px;
        }
      }

      &:hover {
        filter: none;
      }
    }
  }
}
