.productPage {
  width: 100%;
  min-height: 100vh;
  background: $bg;

  > .p_not_found {
    @include flex(column, $h: 100vh);
    background: $bg2;
    text-align: center;
    > div {
      > img {
        height: 40rem;
      }
    }
  }

  .mobile {
    display: none;
  }
  > section {
    display: flex;

    > .filters_sec {
      width: 25%;
      height: fit-content;
      background: $bg2;
      margin: 0.5rem 0rem 0.5rem 0.5rem;
      box-shadow: 0 0 2px 0 rgb(190, 190, 209);

      .filter_head {
        padding: 1rem;
        @include flex($j-c: space-between);
        border-bottom: 1px solid rgb(221, 221, 221);

        > h1 {
          font-weight: 400;
        }
        p {
          font-size: 0.8rem;
          color: $c1;
          cursor: pointer;
        }
      }

      .view_filter {
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;

        > p {
          text-align: center;
          margin: 0.3rem;
          color: #3f3a3a;
          padding: 0.5rem 0.7rem;
          font-size: 0.7rem;
          border-radius: 2px;
          background: #c5c2c2;
          > svg {
            font-size: 0.7rem;
          }
        }
        &:hover {
          text-decoration: line-through;
        }
      }

      > .price_sec {
        > div {
          @include flex($j-c: space-between);
          padding: 1rem;
          border-bottom: 0.5px solid rgb(231, 231, 231);
        }
      }
      > .check_filter {
        border-bottom: 1px solid rgb(221, 221, 221);

        > div:first-of-type {
          padding: 1rem;
          @include flex($j-c: space-between);
          > h5 {
            color: #1b1a1a;
            font-weight: 400;
          }
        }
        > p {
          color: #7e7b7b;
          padding: 0.5rem 1rem;
          font-size: 0.8rem;
          > svg {
            font-size: 0.8rem;
            color: #837e7e;
            background: #ebe8e8;
            cursor: pointer;
            padding: 0.1rem;
          }
        }

        div:last-of-type {
          div {
            div {
              display: flex;
              margin: 1rem;
              margin-top: 0;

              span {
                margin-left: 0.5rem;
                color: #040622;
                font-size: 14px;
                font-weight: 400;
                > svg {
                  margin: 0 0.2rem;
                  font-size: 0.8rem;
                  color: #040622;
                }
              }
            }
          }
        }
      }
    }
    > .product_sec {
      @include flex($j-c: flex-start, $a-i: flex-start);
      flex-wrap: wrap;
      margin: 0.5rem;
      background: $bg2;
      box-shadow: 0 0 2px 0 rgb(190, 190, 209);
      > div {
        &:hover {
          filter: drop-shadow(0 0 5px rgb(226, 224, 224));
        }
      }
      .pagination {
        @include flex();
        padding: 1.5rem;
      }
    }
  }
  .NoProducts {
    @include flex($h: 100vh);
    > img {
      @include img(25rem, 25rem);
    }
  }
}

@media screen and (max-width: 600px) {
  .productPage {
    .mobile {
      display: unset;
      background: $bg2;
      margin: 0.1rem 0;
      > div {
        @include flex($h: 3rem, $j-c: space-between);

        > span {
          width: 50%;
          text-align: center;
          border-right: 1px solid gray;
        }
      }
    }
    > section {
      flex-direction: column;

      > .filters_sec {
        display: none;
      }

      > .product_sec {
        min-height: 100vh;
        width: 100%;
        margin: 0;
        > div {
          width: 50%;
          &:hover {
            filter: none;
          }
        }
      }
    }
  }
}
