@import "colors";

.profile {
  @include flex($h: 100vh, $a-i: flex-start);
  background: $bg;

  > section {
    display: flex;
    width: 20rem;
    margin: 1rem;
    margin-right: 0;
    flex-direction: column;

    > div:first-of-type {
      @include flex($h: 5rem, $j-c: flex-start);
      margin-right: 0;
      background: $bg2;
      box-shadow: 0 0 6px 0 rgb(190, 190, 209);

      > img {
        @include img(3rem, 3rem);
        border-radius: 2rem;
        margin: 0 1.6rem;
      }
      > div {
        > span {
          font-size: 0.7rem;
        }
        > div {
          display: flex;
          > p {
            margin-right: 0.5rem;
          }
        }
      }
    }
    > div:last-of-type {
      display: flex;
      height: fit-content;
      margin-top: 1rem;
      flex-direction: column;
      box-shadow: 0 0 6px 0 rgb(190, 190, 209);

      > a {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(219, 216, 216);
        font-size: 1rem;
        height: 4rem;
        color: #7a7a7a;
        font-weight: 500;
        background: $bg2;
        > svg {
          font-size: 1.4rem;
          margin: 0 1.5rem;
          color: $c1;
        }
      }
    }
    > button {
      @include flex($j-c: flex-start, $h: 4rem);
      margin-top: 2rem;
      font-size: 1rem;
      color: #7e7c7c;
      font-weight: 500;
      background: $bg2;
      border: none;
      box-shadow: 0 0 6px 0 rgb(190, 190, 209);

      > svg {
        font-size: 1.4rem;
        margin: 0 1.5rem;
        color: $c1;
      }
    }
  }
  > form {
    @include flex(
      column,
      $w: 65vw,
      $h: 95vh,
      $a-i: flex-start,
      $j-c: flex-start
    );
    margin: 1rem;
    background-color: $white;
    box-shadow: 0 0 5px 0 rgb(190, 190, 209);

    > div {
      height: 6rem;
      margin: 2rem;

      > h3 {
        font-weight: 500;
      }
      > div {
        display: flex;
        align-items: center;
        > span {
          color: $c1;
          margin-left: 3rem;
          font-weight: 500;
        }
        > input,
        p {
          width: 17rem;
          margin-top: 1rem;
          margin-right: 1rem;
          padding: 1rem;
          font-weight: 400;
          outline-style: none;
          font-size: 1.1rem;
          border: 1px solid gainsboro;
        }
      }
    }
    > button {
      @include button;
      margin-left: 75%;
      border-radius: 2px;
    }
  }
  > button {
    display: none;
  }
}
.updateUser {
  @include flex(column, $h: 80vh);
> form {
  @include flex(column, $h: 60vh);
 > div {

 > input,select {
    width: 20rem;
    margin: 0.5rem;
    padding: 1rem;
    font-weight: 400;
    outline-style: none;
    font-size: 1.1rem;
    border: 1px solid gainsboro;
  }
  > button {
    @include button;
    margin-right: 0.5rem;
  }
  > a {
    padding: 0.9rem 3.3rem;
    margin-top: 1rem;
    background:$c1;
    color:$white;
  }
  }
 
}
}
@media screen and (max-width: 600px) {
  .profile {
    width: 100%;
    @include flex(column,$h: 100vh, $j-c: flex-start); 


    > section {
      width: 100%;
      margin: 0;
      background: $bg2;
      > div:first-of-type {
        height: 4.5rem;
        width: 100%;
        flex-direction: row;
        padding: 0.5rem;
        box-shadow: none;
        border: 2px solid $b1;
        > img {
          display: none;
        }
        > span {
          font-size: 1.2rem;
        }
      }
      > div:last-of-type {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem 0;
        margin: 0;
        box-shadow: none;
        > a {
          width: 46%;
          border: 1px solid $b1;
          margin: 0.3rem;
          border-radius: 8px;
          > .arrow {
            display: none;
          }
        }
      }
      > button {
        display: none;
      }
    }

    > form {
      width: 100%;
      margin: 0;
      padding: 0.5rem 0;
      height: fit-content;
      > div {
        height: 6rem;
        margin: 0.5rem;

        > div {
          display: flex;

          > input,
          p {
            width: 100%;
            padding: 0.5rem;
          }
        }
      }
      > button {
        @include button($w:95%);
        margin: 0 0.5rem;
        border-radius: 2px;
      }
    }
    > button {
      @include flex();
      width: 95vw;
      margin: 0.5rem;
      padding: 0.7rem;
      background: $bg2;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgb(190, 190, 209);
    }
  }
}
