.search {
  > form {
    display: flex;
    margin-left: 0.8rem;
    box-shadow: 0 0 4px 0 rgb(49, 49, 66);
    > input {
      height: 36px;
      width: 25rem;
      background-color: white;
      border: none;
      outline: none;
      padding: 1rem;
    }

    button {
      @include flex($w: 2.5rem, $h: 36px);
      border: none;
      outline: none;

      background-color: rgb(255, 255, 255);

      > svg {
        font-size: 1.5rem;
        color: $c1;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding: 0.5rem;
    width: 100vw;
    height: 100vh;
    form {
      margin-left: 0rem;
      background-color: rgb(255, 255, 255);
      box-shadow: none;
      border-bottom: 1px solid gray;
      > input {
        width: 100vw;
        height: 3.5rem;
      }
      button {
        width: 13vw;
        height: 3.5rem;
      }
    }
  }
}
