

.shipping {
  @include flex($h: 90vh);
  > section {
    padding: 2rem 15rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgb(207, 206, 206);

    > h2 {
      text-transform: uppercase;
      text-align: center;
      padding-top: 2rem;
    }

    > form {
      @include flex(column);
      margin-top: 1rem;

      > div {
        @include flex($j-c: space-between);
        > label {
          white-space: nowrap;
        }
        > input,
        > select {
          width: 25rem;
          padding: 0.5rem 1rem;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.172);
          border-radius: 5px;
          margin: 0.5rem;
          font-size: 1rem;
        }
      }
      > button {
        @include button();
        border-radius: 4px;
        margin: 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .shipping {
    @include flex(column);

    section {
      padding: 0;
      box-shadow: none;

      > h1 {
        font-size: 1rem;
      }
      form {
        > div {
          @include flex(column);
          > label {
            align-self: start;
            margin-left: 1.5rem;
          }
          > input,
          > select {
            width: 90%;
          }
        }

        > button {
          width: 90%;
        }
      }
    }
  }
}
